section.block_cosmetic-detail
    .container
        .row
            .col-lg-7
                .cosmetic-swiper
                    .swiper-container.gallery-thumbs-2
                        .swiper-wrapper
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                    
                    .swiper-container.gallery-top
                        .swiper-wrapper
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
            .col-lg-5
                .wraper-cosmetic
                    .name-cosmetic
                        h1 Bột và Tinh Chất Tảo Vi Kim Sinh Học CareCella
                .wraper-cosmetic
                    .price-box
                        .price 2.959.000 vnđ
                        .cost 3.285.000 vnđ
                table
                    tbody
                        tr
                            td SKU
                            td 5312839334306
                        tr
                            td Thương hiệu
                            td Carecella
                        tr
                            td Xuất xứ
                            td Hàn Quốc
                        tr
                            td Hạn sử dụng
                            td Ghi bên ngoài hộp
                        tr
                            td SET
                            td 
                                p Carecella Venus Peel Serum (2.5ml x 20ea)
                                p Carecella Venus Peel Serum (2.5ml x 20ea)
                .button-box
                    a(href="#").hotline Hotline
                    a(href="javascript:").contact Liên hệ
                .icon-box
                    a(href="#").ri-facebook-box-fill
                    a(href="#").ri-twitter-fill
        .row
            .col-lg-12
                .tab-description
                    ul.tab-navigation
                        li.active
                            a(data-type='fruit-detail-tab-1') Mô tả nổi bật
                        li
                            a(data-type='fruit-detail-tab-2') Thành phần
                        li
                            a(data-type='fruit-detail-tab-3') Hướng dẫn sử dụng
                .content-description
                    .tab-wrapper
                        .tab-item.active#fruit-detail-tab-1
                            .fullcontent
                                p Bộ sản phẩm bao gồm: bột CareCella và Serum CareCella
                                p Mang đến làn da trắng sáng, mềm mịn
                                p Cải thiện độ đàn hồi của da
                                p Cải thiện sắc tố da
                                p Thu nhỏ lỗ chân lông
                                p Tăng sự thẩm thấu các dưỡng chất nuôi dưỡng tế bào biểu bì
                                strong Công dụng
                                p Bộ sản phẩm bao gồm: bột CareCella và Serum CareCella
                                p Mang đến làn da trắng sáng, mềm mịn
                                p Cải thiện độ đàn hồi của da
                                p Cải thiện sắc tố da
                                p Thu nhỏ lỗ chân lông
                                p Tăng sự thẩm thấu các dưỡng chất nuôi dưỡng tế bào biểu bì
                                strong Công dụng
                                p Bộ sản phẩm bao gồm: bột CareCella và Serum CareCella
                                p Mang đến làn da trắng sáng, mềm mịn
                                p Cải thiện độ đàn hồi của da
                                p Cải thiện sắc tố da
                                p Thu nhỏ lỗ chân lông
                                p Tăng sự thẩm thấu các dưỡng chất nuôi dưỡng tế bào biểu bì
                                strong Công dụng
                            .readmore
                                a(href="javascript:void(0)") Xem Thêm
                                em.ri-arrow-drop-down-line
                        .tab-item#fruit-detail-tab-2
                            .fullcontent
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis iusto, quaerat corporis repellendus officia numquam cupiditate quisquam accusantium quo laboriosam nihil aspernatur alias, adipisci mollitia possimus natus dignissimos beatae ratione.
                            .readmore
                                a(href="javascript:void(0)") Xem Thêm
                                em.ri-arrow-drop-down-line
                        .tab-item#fruit-detail-tab-3
                            .fullcontent
                                p Bộ sản phẩm bao gồm: bột CareCella và Serum CareCella
                                p Mang đến làn da trắng sáng, mềm mịn
                                p Cải thiện độ đàn hồi của da
                                p Cải thiện sắc tố da
                                p Thu nhỏ lỗ chân lông
                                p Tăng sự thẩm thấu các dưỡng chất nuôi dưỡng tế bào biểu bì
                                strong Công dụng
                            .readmore
                                a(href="javascript:void(0)") Xem Thêm
                                em.ri-arrow-drop-down-line
.block-2_cosmetic-detail
    .container
        .section-title Mỹ phẩm khác
        .swiper-devices
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<5;i++)
                        .swiper-slide
                            a(href="").item
                                .img
                                    img(src="./img/home/6.png", alt="").swiper-lazy.swiper-lazy-loaded
                                .title Máy ánh sáng
            .main-button
                .button-prev
                    em.mdi.mdi-chevron-left
                .button-next
                    em.mdi.mdi-chevron-right
    .overlay
    .modal
        button.close.ri-close-line
        .title Thông tin khách hàng
        .wrap-form
            .row
                .col-lg-6
                    .form-group
                        input.form-control(type='text', placeholder="Họ và tên")
                .col-lg-6
                    .form-group
                        input.form-control(type='text', placeholder="Họ và tên")
                .col-lg-6
                    .form-group
                        input.form-control(type='text', placeholder="Họ và tên")
                .col-lg-6
                    .form-group
                        input.form-control(type='text', placeholder="Họ và tên")
                .col-lg-12
                    .form-group
                        textarea#inpputTextArea.form-control(placeholder="Nội dung")
            .frm-btnwrap
                .frm-btn
                    input(type="submit" value ="GỬI")