section.section-about
	.container
		.row
			.col-lg-6.col-md-12.position-relative
				.bg-about
					.wrap-content
						.section-title.text-left về chúng tôi
						.content.text-left Công ty chuyên phân phối các dòng thiết bị thẩm mỹ công nghệ cao chính hãng từ các nước như: Hàn, Mỹ, Đức, Nhật, Trung Quốc,…… (các dòng máy phong phú đa dạng phù hợp nhu cầu của từng khách hàng). Phân phối và thay thế linh kiện, phụ kiện máy chính hãng.Quy trình làm việc nhanh chóng giúp giảm thiểu tổn thất cho khách hàng. Tư vấn tận tâm, dịch vụ toàn quốc, nhận phân phối, sửa chữa tận nơi tại các tỉnh thành.
						a(href="").btn.gradient-border xem thêm
							em.ri-add-line
			.col-lg-6.col-md-12
				.img
					img(src="./img/home/2.png", alt="").lazyloaded
section.section-devices#section-devices
	.container
		.section-title Thiết bị thẩm mỹ
		.swiper-devices
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							a(href="").item
								.img
									img(src="./img/home/6.png", alt="").swiper-lazy.swiper-lazy-loaded
								.title Máy ánh sáng
			.main-button
				.button-prev
					em.ri-arrow-left-s-line
				.button-next
					em.ri-arrow-right-s-line
		a(href="").btn.gradient-border XEM tất cả
			em.ri-add-line
section.section-repair
	.container
		.on-row
			.img
				a.fancy(data-fancybox="video" href="./img/home/7.png")
					img(src="./img/home/7.png", alt="").lazyloaded
				.play
			.repair-content
				.bg-content
				.title-sub Trung tâm sửa chữa - bảo trì kỳ anh
				.title Đảm bảo phục vụ nhanh chóng
				.content Mang lại sự an tâm phục vụ khách hàng trong từng dịch vụ có sử dụng thiết bị thẩm mỹ công nghệ cao trong và sau thời gian bảo hành. Đó cũng là  lý do quan trọng thúc đẩy KY ANH TECH xây dựng nên qui trình Bảo trì nhằm giúp cho các Thẩm mỹ viện/Spa vận hành trơn tru hơn trong quá trình kinh doanh của mình.
section.section-timerepair
	.container
		.row
			-for(i=0;i<4;i++)
				.col-lg-3.col-md-6.col-sm-12
					a(href="").timeto
						.bg-content
						.time 60' - 90'
						.desc đối với khu vực ngoại thành Hồ Chí Minh
section.section-why
	.container
		.section-title TẠI SAO CHỌN KỲ ANH TECH
		.wrap-why
			-for(i=0;i<5;i++)
				.why-item
					.why-img
						img(src="./img/home/8.png", alt="").swiper-lazy.swiper-lazy-loaded
					.why-content
						span.blue Hơn 10 năm 
						span kinh nghiệm trong ngành
section.section-devices
	.container
		.section-title Mỹ Phẩm
		.swiper-cosmetic
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							a(href="").item
								.img
									img(src="./img/home/6.png", alt="").swiper-lazy.swiper-lazy-loaded
								.title Máy ánh sáng
			.main-button
				.button-prev
					em.ri-arrow-left-s-line
				.button-next
					em.ri-arrow-right-s-line
		a(href="").btn.gradient-border XEM tất cả
			em.ri-add-line
section.section-library
	.container
		.box-title
			.section-title Thư viện
			a(href="").seemore Xem tất cả
		.swiper-library
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide
						.item
							a(href="")
								img(src="./img/home/14.png", alt="")
								.title Mộc Phương Beauty and Clinic
								.cate Sửa máy trị nám
					.swiper-slide
						.item
							a(href="")
								img(src="./img/home/15.png", alt="")
								.title Mộc Phương 
								.cate Sửa máy 
					.swiper-slide
						.item
							a(href="")
								img(src="./img/home/14.png", alt="")
					.swiper-slide
						.item
							a(href="")
								img(src="./img/home/15.png", alt="")
					.swiper-slide
						.item
							a(href="")
								img(src="./img/home/14.png", alt="")
					
			.swiper-container.gallery-thumbs
				.swiper-wrapper
					.swiper-slide
						.img
							img(src="./img/home/14.png", alt="")
					.swiper-slide
						.img
							img(src="./img/home/15.png", alt="")
					.swiper-slide
						.img
							img(src="./img/home/14.png", alt="")
					.swiper-slide
						.img
							img(src="./img/home/15.png", alt="")
					.swiper-slide
						.img
							img(src="./img/home/14.png", alt="")
						
section.section-partner
	.container
		.box-title
			.section-title Đối Tác
			a(href="").seemore Xem tất cả
		.swiper-partner
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							a(href="").item
								.img
									img(src="./img/home/9.png", alt="").swiper-lazy.swiper-lazy-loaded
			.main-button
				.button-prev
					img(src="./img/left.png", alt="")
				.button-next
					img(src="./img/right.png", alt="")
section.section-rated
	.container
		.rate-border
			.row
				.col-lg-6
					.box-title
						.section-title SẢN PHẨM BÁN CHẠY NHẤT
						a(href="") Xem tất cả
					.swiper-hot-sale
						.swiper-container
							.swiper-wrapper
								-for(i=0;i<3;i++)
									.swiper-slide
										a(href="").item
											.img
												img(src="./img/home/6.png", alt="").swiper-lazy.swiper-lazy-loaded
												.wrap-sale Bán Chạy
											.title Máy ánh sáng
						.bullet-pagination
							.swiper-pagination
				.col-lg-6
					.box-title
						.section-title đánh giá của khách hàng
						a(href="") Xem tất cả
					.swiper-rated
						.swiper-container
							.swiper-wrapper
								-for(i=0;i<3;i++)
									.swiper-slide
										.item
											a(data-fancybox="video" href="./img/home/11.png")
												img(src="./img/home/11.png", alt="").swiper-lazy.swiper-lazy-loaded
												.play
						.bullet-pagination
							.swiper-pagination
section.section-news
	.container
		.section-title Tin Tức
		.swiper-news
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							a(href="").item
								.img
									img(src="./img/home/10.png", alt="").swiper-lazy.swiper-lazy-loaded
								.wrap-content
									.title Trị nám với Laser Q Switch
									.seemore
										span Xem thêm
										img(src="./img/rightblack.png", alt="").black
										img(src="./img/rightlinear.png", alt="").linear
			.bullet-pagination
				.swiper-pagination
section.section-registration
	.container
		.desc Đăng ký nhận bản tin của chúng tôi để nhận được nhiều thông tin tư vấn và sản phẩm mới.
		.wrap-form
			.row.justify-center
				.form-group
					input(type="text" placeholder="Họ và tên")
				.form-group
					input(type="text" placeholder="Số điện thoại")
				.form-group
					input(type="text" placeholder="Email")
				.form-group.frm-btnwrap
			.frm-btnwrap
				.frm-btn
					input(type="submit", value="")
		.wrap-content
			em.ri-phone-line
			span 0946 60 85 85


				




