.section-about
	padding-top: 80/16*1rem
	@media screen and ( max-width: 1024px )
		text-align: center
	.bg-about
		// background: url('../img/home/3.png')100% 100% no-repeat
	.title
		color: #0066cc
		font-size: 30/16*1rem
		text-transform: uppercase
		padding-left: 10px
		@media screen and ( max-width: 1024px )
			padding-left: 0
	.content
		padding-right: 30/16*1rem
	.btn
		margin-top: 40/16*1rem
.section-devices
	padding-top: 50/16*1rem
	.swiper-devices,.swiper-cosmetic
		position: relative
	.main-button
		@media screen and ( max-width: 1500px )
			display: none
		position: absolute
		width: 110%
		top: 0
		margin-left: -65px
		height: 100%
		border: 1px solid #e8edf2
		.button-prev,
		.button-next
			position: absolute
			top: 50%
			transform: translateY(-50%)
			em
				font-size: 36/16*1rem
				color: #666666
		.button-prev
			left: 10px
		.button-next
			right: 10px
	.section-title
		margin-bottom: 40/16*1rem
	.item
		display: block
		text-align: center
		position: relative
		border: 1px solid #e8edf2
		.img
			padding-top: 20/16*1rem
			max-width: 410px
			height: 410px
		&::before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 200px
			height: 200px
			border-radius: 0 0 181px
			background-color: #ecfaff
			z-index: -1
		.title
			display: flex
			align-items: center
			font-size: 18/16*1rem
			color: #111111
			justify-content: center
			height: 60px
			border-top: 1px solid #e8edf2
		&:hover
			.img
				border: 1px solid #3399ff
			.title
				background-color: #54cbf6
				background-image: linear-gradient(to bottom, #3195fc 0%, #3195fc 2%, #40c3f7 100%)
				color: white
				border-top: 1px solid #3399ff
	.btn
		margin: 50/16*1rem auto 0
.section-repair
	padding-top: 60/16*1rem
	.on-row
		display: flex
		position: relative
		@media screen and ( max-width: 1299.9px )
			display: block
		.img
			width: 650px
			height: 100%
			justify-content: center
			align-items: center
			display: flex
			position: relative
			@media screen and (max-width: 1299.9px)
				width: auto
				margin: 0 auto
			img
				width: 100%
				height: 100%
			a
				display: block
				position: relative
			.play
				position: absolute
				width: 75px
				height: 75px
				border-radius: 50%
				top: 50%
				left: 50%
				transform: translate(-50%,-50%)
				opacity: 0
				visibility: hidden
				transition: .2s all ease-in-out
				background-image: linear-gradient(to top, #3195fc 0%, #3195fc 2%, #40c3f7 100%)
				&:before
					content: "\F040D"
					font: normal normal normal 24px/1 "Material Design Icons"
					font-size: 60px
					top: 50%
					left: 50%
					transform: translate(-50%,-50%)
					color: white
					position: absolute
			&:hover
				.play
					opacity: 1
					visibility: visible
					transition: .2s all ease-in-out
		.repair-content
			border-radius: 15px
			box-shadow: 9px 12px 30px rgba(0, 0, 0, 0.05)
			background-image: linear-gradient(to top, #1379d6 0%, #1379d6 2%, #00adef 100%), linear-gradient(to top, #3195fc 0%, #3195fc 2%, #40c3f7 100%)
			height: 340px
			padding: 40/16*1rem
			width: 630px
			@media screen and (max-width: 1299.9px)
				width: auto
				margin: 0 auto
				border-radius: 0
			@media screen and ( min-width: 1300px )
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: 0
			@media screen and (max-width: 480px)
				padding: 20/16*1rem
			*
				color: white
			.title-sub
				text-transform: uppercase
				font-size: 18/16*1rem
				font-weight: 300
			.title
				@media screen and ( min-width: 1920px )
					font-size: 36/16*1rem
					line-height: 1.2
				font-weight: 700
				font-size: 22/16*1rem
			.content
				font-size: 1rem
				font-weight: 400
				@media screen and (max-width: 480px)
					height: 200px
					overflow: scroll
			.bg-content
				background: url("../img/bg.png") no-repeat
				position: absolute
				height: 100%
				left: 0
				top: 0
				width: 100%
				background-position-x: right
				background-position-y: bottom
.section-timerepair
	padding-top: 40/16*1rem
	.timeto
		width: 100%
		height: 100%
		border-radius: 15px
		background-color: #f6fcff
		padding: 30/16*1rem
		display: block
		overflow: hidden
		background: url("../img/bg.png") no-repeat
		background-position-y: 120%
		background-position-x: 150%
		position: relative
		transition: all .2s ease-in-out
		.time
			font-size: 30/16*1rem
			font-weight: 700
			color: #1974d2
		&:hover
			transition: all .2s ease-in-out
			box-shadow: 9px 12px 30px rgba(0,0,0,0.05)
			background:  linear-gradient(to top, #3195fc 0%, #3195fc 2%, #40c3f7 100%)
			*
				color: white
	[class*="col-"]:nth-child(n+3)
		@media screen and (max-width: 1023.9px)
			margin-top: 20px
	[class*="col-"]:nth-child(n+2)
		@media screen and (max-width: 767.9px)
			margin-top: 20px
.section-why
	margin-top: 60/16*1rem
	background: url("../img/home/bg.png")
	height: 430px
	padding: 65/16*1rem 0 85/16*1rem
	.section-title
		margin-bottom: 45/16*1rem
	.why-item
		.why-img
			display: flex
			justify-content: center
			align-items: center
			margin: 0 auto
			width: 130px
			border-radius: 50%
			height: 130px
			border: 1px solid #54cbf6
			background-color: #54cbf6
			background-image: linear-gradient(to top, rgba(0, 100, 204, 0.25) 0%, rgba(0, 100, 204, 0.25) 1%, rgba(64, 195, 247, 0.25) 100%)
		.why-content
			text-align: center
			padding-top: 20/16*1rem
			*
				color: #333333
				font-size: 1rem
			.blue 
				color: #1974d2
				font-weight: 600
	.swiper-why
		position: relative
.section-library
	margin-top: 60/16*1rem
	padding: 60/16*1rem 0
	background-color: #00308f
	background-image: linear-gradient(to top, rgba(66, 182, 237, 0.5) 0%, rgba(25, 116, 210, 0.5) 99%, rgba(25, 116, 210, 0.5) 100%)
	.swiper-library
		display: flex
		justify-content: space-between
		@media screen and ( max-width: 1023.9px )
			display: block
		.gallery-top
			width: 990px!important
			@media screen and ( max-width: 1023.9px )
				width: 100%!important
			&.swiper-container
				margin-right: 0
				margin-left: 0
			*
				img
					width: 980px!important
					height: 620px!important
					object-fit: cover
					@media screen and ( max-width: 1023.9px )
						width: 100%!important
						height: 330px!important
			.title
				color: white
				font-size: 20/16*1rem
				font-weight: 700
				position: relative
				padding-left: 25/16*1rem 
				&:before
					content: ""
					position: absolute
					width: 15px
					height: 1px
					background-color: white
					left: 0
					top: 50%
					transform: translateY(-50%)
			.cate
				color: white
				font-size: 1rem
				font-weight: 300
				padding-left: 25/16*1rem
		.gallery-thumbs
			// &.swiper-container
			// 	margin-left: 0
			// 	margin-right: 0
			.swiper-wrapper
				padding-right: 21px
				.swiper-slide
					height: 120px!important
					cursor: pointer
				*
					img
						width: 231px!important
						height: 120px!important
						object-fit: cover
				.swiper-slide.swiper-slide-visible.swiper-slide-next,
				.swiper-slide.swiper-slide-visible
					img
						filter: grayscale(90%)
				.swiper-slide-thumb-active
					img
						filter: grayscale(0%)!important
					.img
						&::before
							content: ""
							position: absolute
							width: 100%
							left: -100%
							top: 0
							height: 100%
							background-color: #54cbf6
							@media screen and ( max-width: 1024px )
								display: none
							
.section-partner
	background-color: #54cbf6
	padding: 60/16*1rem 0
	.item
		height: 130px
		border-radius: 10px
		background-color: white
		display: flex
		align-items: center
		justify-content: center
	.swiper-partner
		position: relative
		.main-button
			@media screen and ( max-width: 1024.1px )
				display: none
			position: absolute
			top: 0
			height: 100%
			width: 100%
			.button-prev,
			.button-next
				position: absolute
				top: 50%
				transform: translateY(-50%)
			.button-prev
				left: -50px
			.button-next
				right: -50px
.section-rated
	padding-top: 40/16*1rem
	background-color: #f4f7fa
	.section-title
		margin-bottom: 30/16*1rem
	.swiper-rated
		.swiper-slide
			@media screen and ( min-width: 1366px )	
				width: 810px!important
				height: 500px!important
			.item
				a
					display: flex
					justify-content: center
					align-items: center
					position: relative
					.play
						position: absolute
						width: 75px
						height: 75px
						&:before
							content: "\F040D"
							font: normal normal normal 24px/1 "Material Design Icons"
							font-size: 60px
							top: 50%
							left: 50%
							transform: translate(-50%,-50%)
							color: white
							position: absolute
					&:hover
						.play
							border-radius: 50%
							background-image: linear-gradient(to top, #3195fc 0%, #3195fc 2%, #40c3f7 100%)
.section-news
	padding: 50/16*1rem 0 120/16*1rem
	background-color: #f4f7fa
	.section-title
		margin-bottom: 30/16*1rem
	.swiper-news
		position: relative
		.swiper-pagination
			width: 100%
			margin-top: 45/16*1rem
			.swiper-pagination-bullet
				width: 10px
				height: 10px
				background: #dce3e9
				margin-right: 10px
				opacity: 1
				&:focus
					outline: unset
				&.swiper-pagination-bullet-active
					background-color: #5b6777 
					background-image: linear-gradient(to top, #0064cc 0%, #0064cc 1%, #40c3f7 100%)
					&:focus
						outline: unset
	.item
		background-color: white
		display: block
		position: relative
		.img
			height: 260px
			overflow: hidden
			img
				width: 100%
				height: 100%
				transform: scale(1.1)
				transition: .45s all ease-in-out
		.wrap-content
			padding: 25/16*1rem 30/16*1rem 35/16*1rem
			*
				color: #222222
			.title
				font-size: 18/16*1rem
				height: 90px
				overflow: hidden
				font-weight: 700
			.seemore
				font-size: 1rem
				display: flex
				justify-content: space-between
				align-items: center
				.linear
					display: none
		&::before
			content: ""
			position: absolute
			bottom: 0
			width: 100%
			height: 3px
			background-color: #00308f
			background-image: linear-gradient(to right, #0064cc 0%, #0064cc 1%, #40c3f7 100%)
			display: none
		&:hover
			box-shadow: 9px 12px 30px rgba(0, 0, 0, 0.05)
			.title
				color: #4ebaf9
			.seemore 
				*
					color: #00308f
				.black
					display: none
				.linear
					display: block
			&::before
				display: block
			img
				transform: scale(1)
				transition: .45s all ease-in-out
.section-registration
	background-color: #003399
	height: auto
	background: url("../img/bg3.png")no-repeat
	background-position-y: 80px
	background-position-x: 12%
	padding-bottom: 50/16*1rem
	@media screen and ( min-width: 1920px )
		height: 370px
	.fade-bg
		background: url("../img/bg4.png")no-repeat
		height: 100%
		background-size: contain	
		background-position-x: 85%
		background-position-y: 50px
		@media screen and ( max-width: 1023.9px )
			background: unset
		.desc
			text-align: center
			color: white
			font-size: 30/16*1rem
			padding: 40/16*1rem 135/16*1rem 30/16*1rem
			line-height: 1.2
			@media screen and ( max-width: 1023.9px )
				padding: 40/16*1rem 20/16*1rem
		input[type="text"]
			width: 230px
			height: 60px
			box-shadow: 9px 12px 30px rgba(0, 0, 0, 0.1)
			border-radius: 2px
			background-color: #ffffff
			border: unset
			padding: 25/16*1rem
			@media screen and ( max-width: 1023.9px )
				width: 50%
			@media screen and ( max-width: 768px )
				width: 100%
		.form-group
			@media screen and ( max-width: 1023.9px )
				width: 100%
				text-align: center
			input[type="text"]
				margin-right: 20/16*1rem
				@media screen and ( max-width: 1023.9px )
					margin-right: 0
					margin-bottom: 20/16*1rem
			&:nth-child(3) input[type="text"]
				margin-right: 0
			.frm-btn
				position: relative
				height: 100%
				width: 60px
				display: flex
				justify-content: center
				align-items: center
				@media screen and ( max-width: 1023.9px )
					margin: 0 auto
					width: 50%
					height: 60px
				&::before
					content: "\F0501"
					position: absolute
					left: 50%
					transform: translateX(-50%)
					font: normal normal normal 30px/1 "Material Design Icons"
					color: white
					pointer-events: auto
					cursor: pointer
				input[type="submit"]
					width: 100%
					height: 100%
					border-radius: 0 2px 2px 0
					background-color: #54cbf6
					background-image: linear-gradient(to top, #3195fc 0%, #3195fc 2%, #40c3f7 100%)
					border: unset
		.wrap-content
			padding-top: 30/16*1rem
			justify-content: center
			align-items: center
			display: flex
			*
				color: white
			span
				font-weight: 700
				font-size: 30/16*1rem
				display: inline-block
				position: relative
				line-height: 1
				&::before
					content: ""
					height: 60%
					position: absolute
					width: 1px
					background-color: white
					left: -20px
					top: 50%
					transform: translateY(-50%)
			em
				padding-right: 35/16*1rem
				font-size: 28/16*1rem
			


	