section.section-about
	.container
		.row
			.col-lg-6.col-md-12
				.bg-about
					.section-title về chúng tôi
					.content Công ty chuyên phân phối các dòng thiết bị thẩm mỹ công nghệ cao chính hãng từ các nước như: Hàn, Mỹ, Đức, Nhật, Trung Quốc,…… (các dòng máy phong phú đa dạng phù hợp nhu cầu của từng khách hàng). Phân phối và thay thế linh kiện, phụ kiện máy chính hãng.Quy trình làm việc nhanh chóng giúp giảm thiểu tổn thất cho khách hàng. Tư vấn tận tâm, dịch vụ toàn quốc, nhận phân phối, sửa chữa tận nơi tại các tỉnh thành.
					a(href="").btn.gradient-border xem thêm
						em.mdi.mdi-plus
			.col-lg-6.col-md-12
				.img
					img(src="./img/home/2.png", alt="").lazyloaded
section.section-devices
	.container
		.section-title.text-center Thiết bị thẩm mỹ
		.swiper-devices
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							a(href="").item
								.img
									img(src="./img/home/6.png", alt="").swiper-lazy.swiper-lazy-loaded
								.title Máy ánh sáng
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left
				.button-next
					em.mdi.mdi-chevron-right
		a(href="").btn.gradient-border XEM tất cả
			em.mdi.mdi-plus
section.section-repair
	.container
		.row
			.col-lg-6.col-md-12
				.repair-item
					a.fancy(data-fancybox="gallery" href="./img/home/7.png")
						img(src="./img/home/7.png", alt="").lazyloaded
						.play
			.col-lg-6.col-md-12
				.repair-content
					.bg-content
					.title-sub Trung tâm sửa chữa - bảo trì kỳ anh
					.title Đảm bảo phục vụ nhanh chóng
					.content Mang lại sự an tâm phục vụ khách hàng trong từng dịch vụ có sử dụng thiết bị thẩm mỹ công nghệ cao trong và sau thời gian bảo hành. Đó cũng là  lý do quan trọng thúc đẩy KY ANH TECH xây dựng nên qui trình Bảo trì nhằm giúp cho các Thẩm mỹ viện/Spa vận hành trơn tru hơn trong quá trình kinh doanh của mình.
section.section-timerepair
	.container
		.row
			-for(i=0;i<4;i++)
				.col-lg-3.col-md-6.col-sm-12
					a(href="").timeto
						.bg-content
						.time 60' - 90'
						.desc đối với khu vực ngoại thành Hồ Chí Minh
section.section-why
	.container
		.swiper-why
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.why-item
section.section-devices
	.container
		.section-title.text-center Mỹ Phẩm
		.swiper-cosmetic
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							a(href="").item
								.img
									img(src="./img/home/6.png", alt="").swiper-lazy.swiper-lazy-loaded
								.title Máy ánh sáng
			.main-button
				.button-prev
					em.mdi.mdi-chevron-left
				.button-next
					em.mdi.mdi-chevron-right
		a(href="").btn.gradient-border XEM tất cả
			em.mdi.mdi-plus

				




