section.block_image-gallery
    .container
        .section-title Thư viện
        ul.tab-link
            li.active
                a(href="#").link Hình ảnh
            li
                a(href="#").link Video
        .row
            .col-lg-8
                .item-img.big
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
            .col-lg-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
            .col-lg-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
            .col-lg-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
            .col-lg-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
            .col-lg-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
            .col-lg-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
            .col-lg-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")