section.sabeco-home-6.main-section(setBackground="./img/bg-5.png")
	.container
		.row
			.col-md-3 
				.box-content 
					h2.main-title.text-white care to
						br 
						| join us?
					.des.text-white
						p If you are looking for a professional working environment and have the opportunity to learn, please come to us.
					.button.button-white
						a(href="#").btn-view-more work at sabeco
							img(src="./img/arrow/button-red-arrow-right.png", alt="")

			.col-md-4 
