.section-recruitment-detail.section-page-newsdetail
    padding: r(50px) 0 r(80px)
    .wrap-header
        .section-title
            margin-bottom: 0
        .wrap-bottom
            justify-content: flex-end
            margin-bottom: r(35px)
    .wrap-body
        *
            margin-bottom: r(30px)
        .section-title
            font-size: r(20px)
            text-align: left
            margin-bottom: r(30px)
        ul
            padding-left: 0
            list-style: none
            li
                position: relative
                padding-left: r(25px)
                color: #333333
                font-size: 16px
                &::before
                    content: "\eb7c"
                    position: absolute
                    font-family: "remixicon"
                    font-style: intinial
                    left: 0
                    font-size: 12px
                    bottom: 0
                    color: #666666
                &:last-child
                    margin-bottom: 0
                    