section.section-recruitment-detail.section-page-newsdetail
    .container
        .row
            .col-md-9
                .wrap-header
                    .section-title Biên phiên dịch tiếng Nhật
                    .wrap-bottom
                        .wrap-social
                            a(href="")
                                em.facebook
                            a(href="")
                                em.twitter
                .wrap-body
                    .section-title Mô tả công việc
                    ul
                        -for(i=0;i<8;i++)
                            li Phiên dịch tiếng Nhật cho các kỹ sư.
