section.block_cosmetic-detail
    .container
        .row
            .col-lg-7
                .cosmetic-swiper
                    .swiper-container.gallery-thumbs
                        .swiper-wrapper
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/cosmetic/1.png" alt="")
                    
                    .swiper-container.gallery-top
                        .swiper-wrapper
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
                            .swiper-slide
                                img(src="./img/cosmetic/1.png" alt="")
            .col-lg-5
                .wraper-cosmetic
                    .name-cosmetic
                        h1 Bột và Tinh Chất Tảo Vi Kim Sinh Học CareCella
                .table-pro-detail
                    table
                        tbody
                            tr
                                th(scope='row') SKU
                                |
                                td 5312839334306
                            |
                            tr
                                th(scope='row') Thương hiệu
                                |
                                td Carecella
                            |
                            tr
                                th(scope='row') Xuất xứ
                                |
                                td Hàn Quốc
                            |
                            tr
                                th(scope='row') Hạn sử dụng
                                |
                                td Ghi bên ngoài hộp
                            tr
                                th(scope='row') SET
                                |
                                td 
                                    p Carecella Venus Peel Serum (2.5ml x 20ea)
                                    p Carecella Venus Peel Serum (2.5ml x 20ea)
                .button-box
                    a(href="#").hotline Hotline
                    a(href="#").contact Liên hệ
                .icon-box
                    a(href="#").ri-facebook-box-fill
                    a(href="#").ri-twitter-fill
        .row
            .col-lg-12
                .tab-description
                    ul.tab-navigation
                        li.active
                            a(data-type='fruit-detail-tab-1') Thông tin chi tiết
                        li
                            a(data-type='fruit-detail-tab-2') Thông số kỹ thuật
                .content-description
                    .tab-wrapper
                        .tab-item.active#fruit-detail-tab-1
                            .fullcontent
                                p Bộ sản phẩm bao gồm: bột CareCella và Serum CareCella
                                p Mang đến làn da trắng sáng, mềm mịn
                                p Cải thiện độ đàn hồi của da
                                p Cải thiện sắc tố da
                                p Thu nhỏ lỗ chân lông
                                p Tăng sự thẩm thấu các dưỡng chất nuôi dưỡng tế bào biểu bì
                                strong Công dụng
                            .readmore
                                a(href="") Xem thêm
                                em.ri-arrow-drop-down-line
                        .tab-item.active#fruit-detail-tab-2
                            .fullcontent
                        .tab-item.active#fruit-detail-tab-3
                            .fullcontent
                                p Bộ sản phẩm bao gồm: bột CareCella và Serum CareCella
                                p Mang đến làn da trắng sáng, mềm mịn
                                p Cải thiện độ đàn hồi của da
                                p Cải thiện sắc tố da
                                p Thu nhỏ lỗ chân lông
                                p Tăng sự thẩm thấu các dưỡng chất nuôi dưỡng tế bào biểu bì
                                strong Công dụng
.block-2_cosmetic-detail
    .container
        .section-title Thiết bị thẩm mỹ khác
        .swiper-devices
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<5;i++)
                        .swiper-slide
                            a(href="").item
                                .img
                                    img(src="./img/home/6.png", alt="").swiper-lazy.swiper-lazy-loaded
                                .title Máy ánh sáng
            .main-button
                .button-prev
                    em.mdi.mdi-chevron-left
                .button-next
                    em.mdi.mdi-chevron-right
    .overlay
    .modal
        button.close.ri-close-line
        .title Thông tin khách hàng
        .wrap-form
            .row
                .col-lg-6
                    input.form-control(type='text', placeholder="Họ và tên")
                .col-lg-6
                    input.form-control(type='text', placeholder="Họ và tên")
                .col-lg-6
                    input.form-control(type='text', placeholder="Họ và tên")
                .col-lg-6
                    input.form-control(type='text', placeholder="Họ và tên")
                .col-lg-12
                    textarea#inpputTextArea.form-control(rows='6',placeholder="Nội dung")
            .form-btnwrap
                .form-btn
                    input(type="submit" value ="GỬI")