section.section-listnews.section-news
    .container
        .section-title Tin Tức
        .row
            .col-lg-8.col-md-12
                a(href="").item.lg-item
                    .img
                        img(src="./img/home/10.png", alt="").lazyloaded
                    .wrap-content
                        .title Trị nám với Laser Q Switch
                        .content Tăng sắc tố do bị bỏng sau khi thực hiện liệu trình IPL, tình trạng tăng sắc tố mắc phải thường gặp trên lâm sàng ảnh hưởng nhiều đến thẩm mỹ. Dự phòng và điều trị PIH là vấn đề quan trọng, cần thiết đối với mỗi bệnh nhân cũng như các bác sỹ Da …
                        .seemore
                            span Xem thêm
                            img(src="./img/rightblack.png", alt="").black
                            img(src="./img/rightlinear.png", alt="").linear
            -for(i=0;i<8;i++)
                .col-lg-4.col-md-6.col-sm-12
                    a(href="").item
                        .img
                            img(src="./img/home/10.png", alt="").swiper-lazy.swiper-lazy-loaded
                        .wrap-content
                            .title Trị nám với Laser Q Switch
                            .seemore
                                span Xem thêm
                                img(src="./img/rightblack.png", alt="").black
                                img(src="./img/rightlinear.png", alt="").linear