section.sabeco-home-4.main-section(setBackground="./img/bg-3.png")
	.container
		.row
			.col-md-4 
			.col-md-4 
				.box-content 
					h2.main-title.text-white Our
						br 
						| Commitment
					.des.text-white
						p To bring the quality products to Vietnamese consumers, Sai Gon Beer has constantly invested in developing and innovating production technology. Quality assurance and quality control guidelines are the most important - strictly follow technical regulations in quality management to the top. 
					.button.button-white
						a(href="https://www.youtube.com/watch?v=Q9dHT0nvxaM&list=RDzt-GmI3x-RE&index=22" data-fancybox="").btn-view-more play video
							img(src="./img/arrow/button-red-arrow-right.png", alt="")
