section.section-page-newsdetail
    .container
        .row
            .col-lg-10.mx-auto
                .wrap-header
                    .section-title Xử lý tăng sắc tố do bị bỏng sau khi điều trị bằng IPL
                    .wrap-bottom
                        time 31.10.2020
                        .wrap-social
                            a(href="")
                                em.facebook
                            a(href="")
                                em.twitter
                .wrap-content
                    p Tăng sắc tố do bị bỏng sau khi thực hiện liệu trình IPL, tình trạng tăng sắc tố mắc phải thường gặp trên lâm sàng ảnh hưởng nhiều đến thẩm mỹ. Dự phòng và điều trị PIH là vấn đề quan trọng, cần thiết đối với mỗi bệnh nhân cũng như các bác sỹ Da liễu.
                    h2 Nguyên nhân
                    img(src="./img/tin-tuc-ct/1.png", alt="").lazyloaded
                    p Khi sử dụng nhiều năng lượng ánh sáng lên da sẽ gây ra hiện tượng bỏng, rát và ban đỏ vùng điều trị, nếu không biết cách xử lý thì sẽ gây nên tình trạng tăng sắc tố sau điều trị.
                    p Nguyên lý hoạt động của IPL là năng lượng ánh sáng được hấp thu bởi các sắc tố ( trong trường hợp này là melanin trong lông), năng lượng đó được chuyển thành nhiệt để làm phá hủy cấu trúc giữ sắc tố. Nếu sử dụng không đủ năng lượng thì sẽ không tạo ra đủ nhiệt và việc điều trị sẽ không có kết quả. Ngược lại, nếu sử dụng không đủ năng lượng  thì sẽ không tạo ra đủ nhiệt và việc điều trị sẽ không có kết quả. Ngược lại, nếu sử dụng mức năng lượng quá cao thì sẽ sinh nhiều nhiệt và gây bỏng.
                    p Một số người, đặc biệt là những có làn da màu như người Châu Á có thể gặp phải vấn da trở nên sẫm màu tại vị trí vết bỏng. Hiện tượng này được gọi là tăng sắc tố sau viêm, có thể xảy ra khi da bị  tác động mức nhiệt lớn, kể cả khi không hề bị bỏng.
                    h3 Biện pháp ngăn ngừa hiện tượng bỏng
                    p + Ngưng các sản phẩm làm đẹp có khả năng gây viêm và mụn, làm bào mòn, mỏng da như corticoid, rượu thuốc, kem trộn…
                    p + Ngừng quá trình lăn kim, vi kim, lột da hóa chất cách ngày thực hiện liệu trình với công nghệ IPL khoảng 2 tuần.
                    p + Không tắm nắng 4 tuần trước và trong khi điều trị
                    p + Tránh nắng tuyệt đối 2 tuần trước mỗi lần điều trị
                    p + Giúp làm giảm sự thay đổi màu da cùng như xuất hiện các sắc tố mới
                    p + Sử dụng kem chống nắng có chỉ số SPF thấp nhất là 30+ bôi lên vùng điều trị mỗi ngày, bất cứ khi nào tiếp xúc ánh nắng và trong suốt quá trình điều trị lâu hơn.
                    img(src="./img/tin-tuc-ct/2.png", alt="").lazyloaded
                    h4 Xử lý vết bỏng trong liệu trình điều trị
                    p Nếu da bị bỏng ( thường là bỏng độ I (bỏng thượng bì), bỏng độ II (bỏng bì nông và bỏng bì sâu)). Vết bỏng thượng bì thường da chỉ bị đỏ, và còn cảm giác đau, không nổi bọng nước, đè vào da thấy trắng ra, hết đè thì màu da về bình thường (dấu refill, vẫn còn tuần hoàn mạch máu), trường hợp này nhẹ, bạn có thể tự chăm sóc ở nhà và vết thương sẽ lành nhanh trong khoảng 14 ngày.
                    img(src="./img/tin-tuc-ct/3.png", alt="").lazyloaded
                    p Vết bỏng bì nông (thường gặp nhất) thường có màu hồng nhợt, vẫn còn cảm giác đau.
                    p - Bôi thuốc mỡ kháng sinh như Neosprin  hoặc kháng sinh được bào chế dạng mỡ (oitment) có thể giúp bảo vệ bề mặt và giữ 	 ẩm cho vết bỏng. Tuy nhiên không nên sử dụng lâu dài, do nguy cơ gây kháng kháng sinh ở vết bỏng
                    p - Ngoài ra, các chuyên gia về bỏng, cũng như theo hướng dẫn điều trị bỏng của hội bác sĩ da liễu ở Nhật Bản, thì chúng ta có thể sử dụng corticoid dạng bôi mạnh sử dụng trong thời gian ngắn (2-3 ngày đầu) để làm giảm nhanh tình trạng viêm, hạn chế tăng sắc tố. Tuy nhiên, không nên sử dụng dài ngày hơn, do corticoid có thể làm chậm quá trình lành thương và tái tạo thượng bì của da.
                    p - Sau đó, bạn có thể sử dụng các sản phẩm bôi khác có khả năng giúp bảo vệ bề mặt vết bỏng và tạo môi trường ẩm cho quá trình lành thương như: avene cicalfate,serum phục hồi da B5.
                    p - Da sẽ lành lại mà không bị sẹo nhưng vẫn sẽ bị tăng sắc tố. Nếu hiện tượng tăng sắc tố sau viêm không đáp ứng được các biện pháp trên thì cần thực hiện bằng biện pháp Laser Q-switch Nd:Yag
section.section-newsrelated.section-news
    .container
        .section-title Tin liên quan
        .swiper-newsrelated
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<5;i++)
                        .swiper-slide
                            a(href="").item
                                .img
                                    img(src="./img/home/10.png", alt="").swiper-lazy.swiper-lazy-loaded
                                .wrap-content
                                    .title Trị nám với Laser Q Switch
                                    .seemore
                                        span Xem thêm
                                        img(src="./img/rightblack.png", alt="").black
                                        img(src="./img/rightlinear.png", alt="").linear
            .main-button
                .button-prev
                    em.ri-arrow-left-s-line
                .button-next
                    em.ri-arrow-right-s-line
                        


                            

               
            