extends _layout.pug

block var
	- var title = 'Tuyển Dụng Chi Tiết'
	- var bodyClass = 'recruitment-detail'

block main
	include ../components/breadcrumb/_breadcrumb
	include ../components/tuyen-dung-ct/index