section.section-comestic.section-devices
    .section-title Mỹ phẩm
    .container
        .row
            -for(i=0;i<9;i++)
                .col-lg-4.col-md-6.col-sm-12
                    a(href="").item
                        .img
                            img(src="./img/home/6.png", alt="").lazyloaded
                        .title 
                            span Bộ sản phẩ̉m chăm sóc da cơ bản CareCella
        ul.pagination
            li
                a(href="").active 1
            li
                a(href="") 2
            li
                a(href="") 3