section.section-maintenance
    .container
        .section-title Trung tâm sửa chữa - Bảo trì
        .row
            -for(i=0;i<2;i++)
                .col-md-6
                    a(href="").item
                        .img
                            img(src="./img/bao-tri/1.png", alt="").lazyloaded
                        .content Sửa chữa bảo trì tại nhà
