section.section-maintenance-1
    .container
        .section-title Trung tâm sửa chữa - Bảo trì thiết bị thẩm mỹ
        .row
            .col-lg-6.col-md-12
                .img
                    a(href="").zoom-in
                        img(src="./img/bao-tri-ct/1.png", alt="").lazyloaded
            .col-lg-6.col-md-12
                .wrap-content
                    p Nhân viên kỹ thuật sẽ có mặt định kỳ để bảo dưỡng, tư vấn, hỗ trợ duy trì độ bền của máy móc, phòng ngừa hư hỏng không để xảy ra tình trạng sự cố trong quá trình khách hàng sử dụng. Thực hiện công việc thăm khám sức khỏe máy móc thẩm mỹ định kỳ cho khách hàng theo đúng khuyến cáo và quy định của nhà sản xuất.
                    p Là nhà phân phối máy thẩm mỹ, KY ANH TECH thấu hiểu được việc vận hành của một máy thẩm mỹ trong quá trình thực hiện một dịch vụ chăm sóc hay điều trị da, trong đó máy thẩm mỹ đóng vai trò quyết định 70% sự hiệu quả của dịch vụ. Vì vậy việc hư hỏng máy hoặc suy giảm chất lượng linh kiện trong quá trình thực hiện sẽ ảnh hưởng rất lớn đến uy tín, lợi nhuận, thương hiệu của Thẩm mỹ viện/Spa đến khách hàng.
                    p Là nhà phân phối máy thẩm mỹ, KY ANH TECH thấu hiểu được việc vận hành của một máy thẩm mỹ trong quá trình thực hiện một dịch vụ chăm sóc hay điều trị da, trong đó máy thẩm mỹ đóng vai trò quyết định 70% sự hiệu quả của dịch vụ. Vì vậy việc hư hỏng máy hoặc suy giảm chất lượng linh kiện trong quá trình thực hiện sẽ ảnh hưởng rất lớn đến uy tín, lợi nhuận, thương hiệu của Thẩm mỹ viện/Spa đến khách hàng.
        .row
            .col-lg-6
                .image-gray
                    img(src="./img/bao-tri-ct/2.jpg", alt="")
            .col-lg-6
                .img
                    a.fancy(data-fancybox="video" href="./img/bao-tri-ct/3.png")
                        img(src="./img/bao-tri-ct/3.png", alt="").lazyloaded
                    .play
section.section-maintenance-2
    .container
        .row
            .col-lg-10.mx-auto.col-md-12
                .section-title Nội dung bảo trì
                .wrap-table
                    table
                        tr
                            td(rowspan="2") Số lượng máy
                            td(colspan="3") Đơn giá / tháng
                            td(rowspan="2") Số lần bảo trì / tháng
                        tr
                            td 1 tháng
                            td 6 tháng
                            td 12 tháng
                        tr
                            td 5 - 10 máy
                            td 2.500.000 vnđ
                            td 2.300.000 vnđ
                            td 2.000.000 vnđ
                            td(rowspan="3") 1 lần/tuần hoặc khi phát sinh sự cố đột ngột
                        tr
                            td Trên 10 máy
                            td 3.000.000 vnđ
                            td 2.700.000 vnđ
                            td 2.300.000 vnđ
                        tr
                            td Trên 20 máy
                            td(colspan="3") Giá thương lượng
                .wrap-include
                    .title Bao gồm
                    ul
                        -for(i=0;i<7;i++)
                            li Kiểm tra hoạt động của tất cả thiết bị tại cơ sở
                    .content
                        span Thay vì bạn phải thuê riêng 1 nhân viên kỹ thuật phát sinh chi phí lương, bảo hiểm....thì hãy chọn gói bảo trì - bảo dưỡng trọn gói của chúng tôi với giá chưa bằng 1/4 lương nhân viên kỹ thuật.
                        a(href="") Liên hệ ngay
section.section-steps
    .container
        .row
            .col-lg-10.col-md-12.mx-auto
                .section-title quy trình tiếp nhận sửa chữa - bảo trì
            .img
                img(src="./img/bao-tri-ct/step.png", alt="").lazyloaded
section.section-benefit
    .container
        .section-title Lợi ích của việc bảo trì máy
        .row
            .col-lg-3.col-md-6
                .item
                    .img
                        img(src="./img/bao-tri-ct/4.png", alt="").lazyloaded
                    .content Tránh được những hư hỏng nặng, #[strong tiết kiệm chi phí cho spa], thẩm mĩ viện, đảm bảo máy móc luôn hoạt động ổn định giúp spa không bị gián đoạn trong kinh doanh
            .col-lg-3.col-md-6
                .item
                    .img
                        img(src="./img/bao-tri-ct/5.png", alt="").lazyloaded
                    .content Dịch vụ bảo trì máy thẩm mĩ ra đời nhằm đáp ứng nhu cầu thiết thực trong công tác bảo trì sửa chữa máy.
            .col-lg-3.col-md-6
                .item
                    .img
                        img(src="./img/bao-tri-ct/6.png", alt="").lazyloaded
                    .content Giúp máy hoạt động xuyên suốt #[strong tăng độ bền, tuổi thọ.]
            .col-lg-3.col-md-6
                .item
                    .img
                        img(src="./img/bao-tri-ct/7.png", alt="").lazyloaded
                    .content Linh kiện thay thế chính hãng, giá rẻ nhất thị trường, thay thế linh kiện vẫn được bảo hành cho các linh kiện đã thay thế.


section.section-maintenance-3.section-repair
    .container
        .on-row
            .img
                a.fancy(data-fancybox="video" href="./img/home/7.png")
                    img(src="./img/home/7.png", alt="").lazyloaded
                .play
            .repair-content
                .title-sub Trung tâm sửa chữa - bảo trì kỳ anh
                .title Đảm bảo phục vụ nhanh chóng
                .content Mang lại sự an tâm phục vụ khách hàng trong từng dịch vụ có sử dụng thiết bị thẩm mỹ công nghệ cao trong và sau thời gian bảo hành. Đó cũng là  lý do quan trọng thúc đẩy KY ANH TECH xây dựng nên qui trình Bảo trì nhằm giúp cho các Thẩm mỹ viện/Spa vận hành trơn tru hơn trong quá trình kinh doanh của mình.
section.section-maintenance-4.section-timerepair
    .container
        .row
            -for(i=0;i<4;i++)
                .col-lg-3.col-md-6.col-sm-12
                    a(href="").timeto
                        .time 60' - 90'
                        .desc đối với khu vực ngoại thành Hồ Chí Minh




