footer
	padding-top: 60/16*1rem
	.footer-top
		margin-bottom: 30/16*1rem
		@media screen and ( max-width: 768.1px )
			text-align: center
	ol,
	ul
		padding-left: 0
		li
			list-style-type: none
			line-height: 1.2
			display: flex
			margin-bottom: 15px
			color: #333333
			a
				display: inline-block
			.blue
				color: #0c59b4
				font-weight: bold
			.gray
				color: #666666
		em
			font-size: 16px
			color: #333333
			padding-right: 15px
			line-height: 1.5
	.title
		color: #155db5
		font-size: 18/16*1rem
		font-weight: bold
		margin-bottom: 20/16*1rem
	.footer-bottom
		background-color: #005ca8
		padding: 35px 0
		margin-top: 100/16*1rem
		.wraptext
			display: flex
			align-items: center
			justify-content: space-between
			@media screen and ( max-width: 767.9px )
				flex-direction: column-reverse
			*
				color: white
				font-weight: 300
				font-size: 12/16*1rem
			.services
				display: flex
				align-items: center
				@media screen and ( max-width: 767.9px )
					margin-bottom: 10px
				a
					display: flex
					align-items: center
					position: relative
					padding: 0 15px
					&::before
						content: ""
						position: absolute
						right: 0
						top: 50%
						transform: translateY(-50%)
						background-color: white
						width: 1px
						height: 15px
					&:last-child
						&::before
							display: none