<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <!-- <add name="Sản phẩm đề xuất - Giúp tôi chọn" value="1" resourcefile="" /> -->
  </position>

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ThietBiList.xslt" name="Danh sách thiết bị" />

  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="ThietBiDetail.xslt" name="Chi tiết thiết bị" />
</templates>
