section.sabeco-home-5(setBackground="./img/bg-4.png")
	.main-tabslet(data-toggle="tabslet")
		ul.menu-list.tabslet-tab.type-none
			li.active
				a(href="#tab-1") Company news
			li 
				a(href="#tab-2") investor news
			li 
				a(href="#tab-3") press release
		.tabslet-content.main-section.active#tab-1
			.container.main-slide
				.swiper-container
					.swiper-wrapper
						- for (i=1; i<7; i++)
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/5.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/6.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/7.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
				.main-button 
					.button-prev 
						img(src="./img/arrow/red-arrow-left.png", alt="")
					.button-next 
						img(src="./img/arrow/red-arrow-right.png", alt="")
		.tabslet-content.main-section#tab-2
			.container.main-slide
				.swiper-container
					.swiper-wrapper
						- for (i=1; i<4; i++)
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/6.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/5.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/7.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
				.main-button 
					.button-prev 
						img(src="./img/arrow/red-arrow-left.png", alt="")
					.button-next 
						img(src="./img/arrow/red-arrow-right.png", alt="")
		.tabslet-content.main-section#tab-3
			.container.main-slide
				.swiper-container
					.swiper-wrapper
						- for (i=1; i<6; i++)
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/7.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/5.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
							.swiper-slide
								.news-item
									.image
										a(href="#")
											img(src="./img/6.png", alt="")
									.caption
										a(href="#").title Sai Gon Beer seeks to become globally credible brand: general director
				.main-button 
					.button-prev 
						img(src="./img/arrow/red-arrow-left.png", alt="")
					.button-next 
						img(src="./img/arrow/red-arrow-right.png", alt="")
