header
    .container
        .header-1
            .header-about
                .header-left
                    a(href="#")
                        img(src="./img/logo2.png", alt="")
                .header-right
                    .header-top
                        .phone
                            em.ri-phone-line
                            span 0946 60 85 85
                        .search
                            em.ri-search-line
                        .language
                            .item VN
                            .dropdown 
                                a(href="") EN
            .header-bottom
                .primary-menu
                    ul
                        li.dropdown
                            .title 
                                a(href="") Giới thiệu
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="bao-tri.html") Trung tâm sửa chữa - Bảo trì
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="thiet-bi.html") Thiết bị thẩm mỹ
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="my-pham.html") Mỹ phẩm
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="tin-tuc-ds.html") Tin tức
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="image-gallery.html") thư viện
                            ul.sub-menu
                                li 
                                    a(href="image-gallery.html") Thư viện hình ảnh
                                li 
                                    a(href="video-gallery.html") Thư viện Video
                        li.dropdown
                            .title 
                                a(href="contact.html") Liên hệ
        .mobile-wrap
        .toggle-menu
                span
                span
                span
                span
        .header-2
            a.logo(href="")
                img(src="./img/lg.png", alt="")
    .searchbox
        .btn-close X
        input(type="text",placeholder='Search')
        button
            em.ri-search-line
    