header
    .container
        .header-1
            .header-about
                .header-left
                    a(href="#")
                        img(src="./img/logo2.png", alt="")
                .header-right
                    .header-top
                        .phone
                            em.mdi.mdi-phone
                            span 0946 60 85 85
                        .search
                            em.mdi.mdi-magnify
                        .language
                            .item VN
                            .dropdown 
                                span EN
            .header-bottom
                .primary-menu
                    ul
                        li.dropdown
                            .title 
                                a(href="") Giới thiệu
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="") Trung tâm sửa chữa - Bảo trì
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="") Thiết bị thẩm mỹ
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="") Mỹ phẩm
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="") Tin tức
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="") thư viện
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
                        li.dropdown
                            .title 
                                a(href="") Liên hệ
                            ul.sub-menu
                                li 
                                    a(href="") Item 1
                                li 
                                    a(href="") Item 2
                                li 
                                    a(href="") Item 3
            .mobile-wrap
            .toggle-menu
                span
                span
                span
                span
            #search
                .btn-close X
                .form-group
                    input(type="text", name="")
                    em.mdi.mdi-magnify
        .header-2
            
                        
    