section.section-pagedevice.section-devices
    .container
        .row
            .col-lg-3.wrapper-sticky
                .option
                    .option-header  
                        span DÒNG MÁY
                        em.ri-arrow-right-s-line
                    ul.option-body
                        li
                            a(href="") Điều trị sắc tố
                        li.active
                            a(href="") Điều trị sắc tố
                        li
                            a(href="") Điều trị sắc tố
                        li
                            a(href="") Điều trị sắc tố
                        li
                            a(href="") Điều trị sắc tố
                        li
                            a(href="") Điều trị sắc tố
                        li
                            a(href="") Điều trị sắc tố
            .col-lg-9
                .section-title.text-left Điều trị sắc tố
                .row.no-gutters
                    -for(i=0;i<9;i++)
                        .col-lg-4
                            a(href="").item
                                .img
                                    img(src="./img/home/6.png", alt="").lazyloaded
                                .title Máy xóa xăm Laser Picosure
                .modulepager
                    ul.pagination
                        li
                            a(href="").active 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3