section.block_video-gallery
    .container
        .section-title Thư viện
        ul.tab-link
            li
                a(href="image-gallery.html").link Hình ảnh
            li.active
                a(href="#").link Video
        .row
            .col-lg-8.col-sm-4
                .item-img.big
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
                        .play
                        .content Album 1
            .col-lg-4.col-sm-8
                .row
                    .col-lg-12.col-sm-6
                        .item-img
                            a(data-fancybox="video" href="./img/image/1.png")
                                .img
                                    img(src="./img/image/1.png", alt="")
                                .play
                                .content Album 1
                    .col-lg-12.col-sm-6
                        .item-img
                            a(data-fancybox="video" href="./img/image/1.png")
                                .img
                                    img(src="./img/image/1.png", alt="")
                                .play
                                .content Album 1
            .col-lg-4.col-sm-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
                        .play
                        .content Album 1
            .col-lg-4.col-sm-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
                        .play
                        .content Album 1
            .col-lg-4.col-sm-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
                        .play
                        .content Album 1
            .col-lg-4.col-sm-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
                        .play
                        .content Album 1
            .col-lg-4.col-sm-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
                        .play
                        .content Album 1
            .col-lg-4.col-sm-4
                .item-img
                    a(data-fancybox="video" href="./img/image/1.png")
                        .img
                            img(src="./img/image/1.png", alt="")
                        .play
                        .content Album 1
        .modulepager
            ul.pagination
                li.active
                    a(href="") 1
                li
                    a(href="") 2
                li
                    a(href="") 3