.block_video-gallery
    padding-top: r(60px)
    padding-bottom: r(80px)
    .tab-link
        display: flex
        justify-content: center
        list-style: none
        padding: 0
        padding-top: r(25px)
        padding-bottom: r(40px)
        li
            margin: 0 r(15px)
            .link
                width: r(180px)
                height: r(50px)
                border-radius: 50px
                border: 1px solid #3399ff
                display: flex
                justify-content: center
                align-items: center
                text-transform: uppercase
            &.active,
            &:hover
                a
                    border: 1px solid transparent
                    background-image: linear-gradient(to bottom, #3195fc 0%, #3195fc 2%, #40c3f7 100%)
                    color: #ffffff
    .item-img
        position: relative
        margin-bottom: 30px
        .img
            +img-ratio(245/390)
            &::before
                content: ''
                position: absolute
                bottom: 0
                width: 100%
                height: 100%
                background-color: rgba(0,0,0,0.4)
                z-index: 1
                pointer-events: none
        &.big
            .img
                +img-ratio(520/810)
        @media screen and ( max-width: 1024px )
            &.big
            .img
                +img-ratio(245/390)
        .play
            position: absolute
            width: r(75px)
            height: r(75px)
            border-radius: 50%
            top: 50%
            left: 50%
            z-index: 5
            transform: translate(-50%,-50%)
            &:before
                content: "\f00b"
                font-family: "remixicon"
                font-size: r(40px)
                border: 5px solid #ffffff
                border-radius: 50%
                width: r(60px)
                height: r(60px)
                display: flex
                align-items: center
                justify-content: center
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                color: #ffffff
                position: absolute
        .content
            position: absolute
            left: 50%
            bottom: 6%
            font-size: r(18px)
            color: #fff
            z-index: 5
            transform: translateX(-50%)
        &:hover
            .play
                background-image: linear-gradient(to top, #3195fc 0%, #3195fc 2%, #40c3f7 100%)
            .content
                color: #0d71d5
                border-bottom: 1px solid #0d71d5

        

